<div class="login-container">
  <div class="login-card">
    <!-- Header -->
    <div class="login-header">
      <div class="login-icon">🔐</div>
      <h1 class="login-title">Iniciar Sesión</h1>
    </div>

    <!-- Form -->
    <form class="login-form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
      <!-- Email Field -->
      <div class="form-group">
        <label for="email" class="form-label">
          <span class="label-icon">📧</span>
          Correo Electrónico
        </label>
        <input 
          type="text" 
          class="form-input" 
          placeholder="tu@email.com"
          formControlName="email"
          required
        >
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <label for="password" class="form-label">
        <span class="label-icon">🔒</span>
          Contraseña
        </label>
        <input 
          type="password" 
          class="form-input" 
          placeholder="••••••••"
          required
          formControlName="password"
        >
      </div>
    <!-- Submit Button -->
      <button 
        type="submit" 
        class="login-button button-icon">
          Ingresar
      </button>
      </form>

      <!-- Remember Me & Forgot Password -->
      <div class="form-options">
        <label class="remember-me">
        <input type="checkbox" class="checkbox">
        <span class="checkmark"></span>
          Recordarme
        </label>
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
      </div>



    <div class="login-footer2">
      ¿No tienes cuenta?
    </div>
    
    <div 
    type="submit"
    class="login-footer"
    routerLink="/auth/register"
    routerLinkActive="active-b"
    [routerLinkActiveOptions]="{exact: true}">
  
    <span
    class="button-icon">
    Registrarse
    </span>
    </div>
  </div>
</div>