  .sidenav-container{
  background-color: #fbfbfb;
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  margin: 20px 5px 5px 5px;
  
  @media (max-width: 768px) {
    width: 150px;
      .btn-text {
      display: none; 
      }
    }
  } 
  
  .button-section-1{
    margin-top: 40px;
    }
  
  .button-section-2{
    margin-top: 200px;
  }

  .sidenav-button {
  font-family: 'Roboto', sans-serif; 
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 20px;
  color: #222;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2px 2px 2px 2px;
  text-align: left;
  padding: 20px 18px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease;

  
  &:hover {
    background-color:#baeaff;
  }

  
  &.active {
    background-color:#b3e5fc;
  }

  
  .btn-icon {
    margin-right: 10px;
    font-size: 20px; 
  }

  .btn-text {
    word-break: break-word;
  }
 
}

 .title {
    font-size: 1.1rem;
    margin: 1px 2px 25px 17px;
  }